audiocraft==1.3.0
audioread==3.0.1
ffmpy==0.3.2
GitPython==3.1.43
imageio==2.34.2
imageio-ffmpeg==0.5.1
imutils==0.5.4
moviepy==1.0.3
opencv-python-headless
pillow==10.3.0
requests==2.32.3
streamlit==1.36.0
torch==2.1.0
torchaudio==2.1.0
torchdata==0.7.0
transformers==4.42.3
xformers==0.0.22.post7
